// _mixin.scss
@mixin card-shadow {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-style($size, $weight: $weight-default, $line-height: $line-height-default) {
  font-family: $font-primary;
  line-height: $line-height;
  font-size: $size;
  font-weight: $weight;
}