@use './variables' as *;


// _mixin.scss
@mixin card-shadow {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-style($size, $weight: $weight-default, $line-height: $line-height-default) {
  font-family: $font-primary;
  line-height: $line-height;
  font-size: $size;
  font-weight: $weight;
}

// Mixins desktop-first => max-width uniquement
@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}


// ⚠️ Important : dans les SCSS, toujours appliquer les mixins dans cet ordre : desktop → tablet → mobile
// Les plus petits écrasent les plus grands pour chaque propriété !