// _variables.scss

// couleurs
$primary-red: #ff6060;
$secondary-red: #d04f4f;
$background-grey: #f6f6f6;
$white: #fff;
$black: #000;

// radius
$radiusCard: 10px;

// fontes
$font-primary: 'Montserrat', sans-serif;
$line-height-default: 1.43;
$weight-default: 500;


// media queries
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;