// main.scss
@import './variables';
@import './mixins';
@import '../components/Layout/layout.scss';
@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';


* {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: $black;
  }
}