@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.rating-stars {
  display: flex;
  gap: 4px; /* espace entre les étoiles */

  .rating-star {
    width: 36px;
    height: 36px;
  }
}
