@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.rating-stars {
  display: flex;
  gap: 0.3vw; /* espace entre les étoiles */

  .rating-star {
    width: 28px;
    height: 28px;

    @include mobile {
      width: 18px;
      height: 18px;
    }
  }
}
