@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  @include card-shadow;
  border-radius: $radiusCard;
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden; // empêche l'image de dépasser la card

  // élimine le style par defaut de la figure
  figure {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
  }

  &::after {
    content: "";
    background: linear-gradient(hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .502));
    border-radius: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none; // permet aux clics de passer à travers
  }

  &__img {
    display: block; // élimine l'espace en bas de l'image
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1; // forme carrée
    border-radius: $radiusCard;
    transition: transform 0.3s ease; // animation douce
  }

  &__title {
    position: absolute;
    z-index: 1;
    bottom: 0;
    @include font-style(1.8rem, 700);
    color: $white;
    margin: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  }

  // Au survole de la card
  &:hover .card__img {
    transform: scale(1.05);
  }
}