// header.scss

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  width: 100%;
  
  &__container {
    @include center-flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    margin: 0 auto;
  }

  &__logo {
    img {
      width: 210px;
      height: 68px;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    gap: 6rem;

    a {
      color: $black;
      @include font-style(2.4rem);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}