// header.scss

@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  width: 100%;
  
  &__container {
    @include center-flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    margin: 0 auto;
  }

  &__logo {
    img {
      width: 210px;
      height: 68px;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      color: $black;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}