// footer.scss
@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
	background: $black;
	color: $white;
	padding: 4.5rem 0 2rem 0;
	@include center-flex;
	flex-direction: column;
	gap: 2.5rem;

	&__container {
		@include center-flex;
		flex-direction: column;
	}

	&__logo-footer {
		img {
			width: 122px;
			height: auto;
			object-fit: contain;
		}
	}

	&__p {
		color: $white;
		@include font-style(2.4rem);
		text-align: center;
	}
}