// footer.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
	background: $black;
	color: $white;
	padding: 5rem 0 5rem 0;
	@include center-flex;
	flex-direction: column;
	gap: 2.5rem;

	@include tablet {
		padding: 3rem 0 3rem 0;
	}

	&__container {
		@include center-flex;
		flex-direction: column;
	}

	&__logo-footer {
		img {
			width: 122px;
			height: auto;
			object-fit: contain;
		}
	}

	&__p {
		color: $white;
		@include font-style(2.4rem);
		text-align: center;

		@include mobile {
				@include font-style(1.2rem);
				width: 30%;
			}
	}

	}
